/* Geral/Utilidade */
/* Importa fonte do google */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

/* Pra largura total de um elemento contar bordas padding etc */
* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #eee;
}

/* Classe para centralizar e definir largura do conteúdo */
.wrapper {
    max-width: 85%;
    margin: 0 auto;
}

/* Classe para colorir fundo do conteúdo */
.container {
    width: 100%;
    box-shadow: 0 0 10px #ccc;
    background-color: #ffff;
}

/* Navegação principal */
.navbar-principal {
    width: 100%;
    height: 60px;
    background-color: #e63946;
}

/* Logo/nome do site */
.logo {
    display: block; 
    font-size: 32px;
    text-decoration: none;
    color: #fff;
    line-height: 60px;
    float: left;
}

/* Barra de pesquisa */
.procura {
    display: inline-block;
    line-height: 60px;
    position: relative;
    left: 10%;
}

.procura-input {
    padding: 10px;
    width: 250px;
    font-family: "Nunito", sans-serif;
}

.procura-btn {
    padding: 10px;
    background-color: #ddd;
    cursor: pointer;
    margin-left: -4px;
    font-family: "Nunito", sans-serif;
}

.procura-btn:hover {
    background-color: #ccc;
}

.procura-input, .procura-btn {
    outline: none;
    border: none;
}

/* Intens da navegação */
.menu {
    float: right;
    list-style: none;
    line-height: 60px;
}

.menu li {
    display: inline-block;
    padding: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #f1faee;
    font-size: 16px;
    padding: 5px;
}

.menu li a:hover, .menu li a.ativo {
    color: #ccc;
}

/* Estilos para os slides */
.swiper-container {
    width: 100%;
    height: 70vh;
  }

.swiper-slide {
    height: 70vh;
    width: 100%;
}

/* Imagens dos slides */
.slide-01 {
    background: url("../img/slide-1.png");
    background-position: center;
    background-size: cover;
}

.slide-02 {
    background: url("../img/slide-2.jpg");
    background-position: center;
    background-size: cover;
}

.slide-03 {
    background: url("../img/slide-3.webp");
    background-position: center;
    background-size: cover;
}

/* Seção dos produtos */
/* H1 Produtos */
#produtos-h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    margin: 12px 0;
    color: #e63946;
    text-align: center;
}

/* Linha horizontal */
hr {
    border: 1px solid #e63946;
    width: 30%; 
}

/* Container para os produtos. Alinhados utilizando Flexbox */
.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Todos os estilos de um "card" de produto */
.produto-card {
    max-width: 350px;
    box-shadow: 0 0 4px #bababa;
    text-align: center;
    margin: 15px;
}

.produto-card:hover {
    transform: scale(1.02);
}

.produto-header a {
    display: block;
}

.produto-img {
    width: 80%;
}

.produto-titulo {
    text-decoration: none;
    color: #444;
    font-weight: 600;
    line-height: 1.2;
    padding: 0 10px;
    height: 60px;   
}

.produto-titulo:hover {
    color: #000;
}

.produto-body {
    padding: 10px;
}

.ou-span {
    line-height: 2;
    display: block;
    font-size: 14px;
}

.produto-preco-prazo {
    font-size: 14px;
}

.produto-btn {
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    background-color: #444;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding-right: 8px;
}

.produto-btn:hover {
    background: #e63946;
    color: #fff;
}

.produto-btn i {
    background-color: #e63946;
    padding: 15px 18px;
}

/* Rodapé principal com informações do site */
/* Alinhamento utilizando flexbox novamente */
#rodape-container {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Utiliza-se flex-basis para deixar a largura desse div 100% e ficar numa linha */
#rodape-direitos {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    font-size: 18px;
    padding: 10px;
}

#rodape-direitos a {
    margin-left: 10px;
    color: #fff;
}

#rodape-direitos i {
    font-size: 32px;
}

.rodape-item a, .rodape-item p {
    color: #fff;
    text-decoration: none;
    line-height: 1.5;
    font-weight: 100;
    font-size: 16px;
    display: block;
}

.rodape-item {
    width: 20%;
    margin: 15px;
}

.rodape-item > h2 {
    color: #e63946;
    font-weight: 400;
    line-height: 2;
    font-size: 18px;
}

.rodape-contato i {
    color: #fff;
}

